# プレーンテキストの設定ファイル（ansible_settings.yml）に記述できない機密情報を定義するためのansible-vaultファイル
# プレーンテキストの設定ファイルキー名と重複させないように、先頭にsecretsを付与する
secrets:
  mysql:
    accounts:
      root_user:
        password: <MySQLのルートユーザのパスワード>
      zabbix:
        # MySQLのユーザ名は、Zabbixの公式ドキュメント（https://www.zabbix.com/jp/download?zabbix=7.2）に則って設定すること
        username: zabbix
        password: <MySQLのZabbixユーザのパスワード>
  # Zabbix関連
  zabbix:
    # 発行したAPIトークン
    # ※Web画面から発行を行い、本ファイルに記述すること
    api_token: <Zabbixから発行したAPIトークン>

    target_host:
      # 監視対象のマシンのIPアドレス
      ip: "XXX.XXX.XXX.XXX"

      # 監視対象のSnipe-ITのログイン情報
      # Zabbixのアイテムに値を直接記述しないようにするために、マクロ変数として定義する
      macros:
        # ユーザ名
        username:
          macro: "{$SNIPE_IT_USERNAME}"
          value: <Snipe-ITのユーザ名>

        password:
          # パスワード
          macro: "{$SNIPE_IT_PASSWORD}"
          value: <Snipe-ITのパスワード>
